* {
    margin: 0;    
}
table {
    width: 600px;
}

th {
    background: rgb(211, 204, 110);
}
#col_header {
    background: rgb(149, 222, 143);
}
#str_header {
    background: rgb(149, 222, 143);
}